<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Record</title>
</head>
<body>
    <h1>Update Record</h1>
    <form method="post">
        Rollno: <input type="text" name="Rollno" required><br>
        Name: <input type="text" name="name" required><br>
        English: <input type="text" name="english" required><br>
        Maths: <input type="text" name="maths" required><br>
        Science: <input type="text" name="science" required><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>